#b1{
    display: inline-block;
    float: left;
    margin: 40px;
}
#b2{
    display: inline-block;
    float: left;
    margin: 40px;
}
#b3{
    display: inline-block;
    float: left;
    margin: 40px;
}
#b4{
    display: inline-block;
    float: left;
    margin: 40px;
}