<B><h4>Team Tie Breakers</h4></B>
<div id="b1">
<p>Tejeswar</p>
<img src="assets/gmail.JPG" height="42" width="50" title="tejeswarbharath@gmail.com">
</div>
<div id="b2">
<p>Sebastian</p>
<img src="assets/gmail.JPG" height="42" width="50" title="sebboulnois@gmail.com">
</div>
<div id="b3">
<p>Kushal</p>
<img src="assets/gmail.JPG" height="42" width="50" title="kvangara2015@my.fit.edu">
</div>
<div id="b4">
<p>Bhumika</p>
<img src="assets/gmail.JPG" height="42" width="50" title="bpatel2013@my.fit.edu">
</div>