<h3>Using Games for engaging the future IRL community</h3>
<B><h4>Problem Statement </h4></B>
<p>The Lagoon Eco System is in Bad Health</p>
<B><h4>Some Indicators</h4></B>
<ul>
  <li>Seagrass Loss</li>
  <li>Increase of Nitrogen and Phosphorus presence</li>
</ul>
<B><h4>Major Issues</h4></B>
<ul>
  <li>Pollutants(pesticides, herbicides, fertilizers, etc.)</li>
  <li>Water waste</li>
  <li>Human-made infrastructures</li>
  <li>Climate change</li>
</ul>
<B><h4>Solution</h4></B>
<ul>
  <li>Educate and engage people about human activity impact on lagoon’s health</li>
  <li>Create an application that simulates the IRL visual scene and these impacts on its health</li>
</ul>
<B><h4>Audience</h4></B>
<ul>
  <li>Kids(easy to engage)</li>
</ul>